**.ipynb_checkpoints
*.csv

dataset_analysis/sunburst_plot/*
dataset_analysis/*.csv

organize_stage1_annotation/raw_batches/*.csv
organize_stage1_annotation/*.json
organize_stage2_annotation/**/*.csv
organize_stage2_annotation/*.json

previous_stage2_inputs/*.csv
